Q1. What is data encoding? How is it useful in data science?

Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a specified format, for the secured transmission of data. Decoding is the reverse process of encoding which is to extract the information from the converted format.

Aim : To convert catagorical feature to numerical feature.

Types of encoding : Nominal/OHE , ordinal and label encoding , target guided ordinal encoding

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

It is used to transform catagorical variables that have no intrinsic ordering into numerical values that can be used in machine learning

One common method for nominal encoding is one hot encoding , which creates a binary vector for each catagory in the variable.

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({'color': ['red','blue','green','green','blue','red','blue']})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4   blue
5    red
6   blue

In [5]:
encoder = OneHotEncoder()

In [6]:
encoder

OneHotEncoder()

In [8]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [10]:
import pandas as pd

In [14]:
encoded_df = pd.DataFrame(encoded,columns = ['red','blue','green'])

In [15]:
encoded_df

   red  blue  green
0  0.0   0.0    1.0
1  1.0   0.0    0.0
2  0.0   1.0    0.0
3  0.0   1.0    0.0
4  1.0   0.0    0.0
5  0.0   0.0    1.0
6  1.0   0.0    0.0

In [17]:
pd.concat([df,encoded_df],axis=1)

   color  red  blue  green
0    red  0.0   0.0    1.0
1   blue  1.0   0.0    0.0
2  green  0.0   1.0    0.0
3  green  0.0   1.0    0.0
4   blue  1.0   0.0    0.0
5    red  0.0   0.0    1.0
6   blue  1.0   0.0    0.0

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding is preferred over one-hot encoding in situations where:

Reduction of dimensionality is required: One-hot encoding can significantly increase the dimensionality of the dataset when dealing with categorical variables with many unique categories. In such cases, using nominal encoding reduces the number of features in the dataset.

Preservation of the sequential information is necessary: Some machine learning algorithms, such as decision trees or random forests, can naturally handle nominal encoding as they can split the data based on the numerical labels. These algorithms do not require separate binary columns for each category, making nominal encoding more efficient.

Categorical variables with high cardinality: When dealing with categorical variables containing a high number of unique categories, one-hot encoding can create a large number of columns, which might lead to the curse of dimensionality. Nominal encoding can be more suitable in such scenarios.

Practical example:

Consider a dataset containing a "Country" column with country names as categories. One-hot encoding this column would create a binary column for each country present in the dataset, potentially leading to hundreds of columns if there are many unique countries.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.

Use one-hot encoding if computational resources allow and preserving category independence is crucial.
Use label encoding if the model or algorithm can handle numerical representations of categories and the increase in dimensionality from one-hot encoding is a concern.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.

For example:

If the first categorical column has 4 unique categories, the second categorical column has 3 unique categories .

New columns = 4+3=7

Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.

One-hot encoding is suitable when dealing with categorical variables that lack inherent order or hierarchy among their categories.
It preserves the independence of categories by creating binary columns for each unique category, preventing the model from interpreting false ordinality.
The approach is versatile and generally applicable to scenarios where nominal categorical variables need to be encoded for machine learning algorithms.
In summary, for the dataset containing information about animal species, habitat, and diet where the categorical variables do not exhibit any inherent order or hierarchy among their categories, using one-hot encoding would be a suitable and justifiable choice.

Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

Identify Categorical Variables:

Gender and contract type are the categorical variables in the dataset.
Choose Encoding Techniques:

For binary categorical variables (like gender), you can use binary encoding or label encoding.
For contract type (assuming there are multiple categories such as 'month-to-month', 'one year', 'two year'), you can use one-hot encoding or label encoding.
Implement Encoding:

a. Encoding Gender (Binary Categorical Variable):

For gender, as it's binary (assuming 'male' and 'female'), you can use binary encoding or label encoding:

Binary Encoding: If you choose binary encoding, you can represent 'gender' in binary form. For instance, 'male' might be encoded as 0 (binary: 00) and 'female' as 1 (binary: 01).

Label Encoding: Alternatively, using label encoding, you can assign numerical labels, such as 'male' as 0 and 'female' as 1.

b. Encoding Contract Type (Multiple Categories):

For contract type, as there are multiple categories ('month-to-month', 'one year', 'two year'), using one-hot encoding or label encoding is suitable:

One-Hot Encoding: This method will create separate binary columns for each contract type. For example, 'month-to-month' might be represented as [1, 0, 0], 'one year' as [0, 1, 0], and 'two year' as [0, 0, 1].

Label Encoding: Alternatively, label encoding could assign numerical labels like 'month-to-month' as 0, 'one year' as 1, and 'two year' as 2. However, this method might imply ordinality, which might not exist in this scenario.

Keep Numerical Features Unchanged:

Age, monthly charges, and tenure are already numerical features, so they don’t require any transformation.